html,
body {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: green;
    border-bottom: 4px black solid;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    color: #ffffff;
    letter-spacing: 3px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navlink {
    list-style-type: none;
    margin: 0;
}

.navlink a {
    color: #ccc;
    text-decoration: none;
    font-size: 1.2em;
}

.burger {
    font-size: 1.2em;
    display: none;
}

@media screen and (max-width: 678px) {
    .burger {
        display: block;
        color: #ccc;
    }
    .nav {
        margin: 0;
        background: green;
        position: absolute;
        right: -100%;
        top: 70px;
        width: 50%;
        height: calc(100% - 70px);
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        transition: all 400ms;
    }
    .navlink {
        text-align: center;
    }
    .nav-active {
        right: 0;
    }
}